<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>PureDrop</title>
  <link rel="stylesheet" href="/public/css/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
  <section class="First">
    <nav class="navbar navbar-expand-lg  " style="background-color: #e5e2db; height: 40px;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">PureDrop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto me-5 ">
            <li class="nav-item">
              <button type="button" class="btn btn-outline-light"><a class="nav-link" aria-current="page"
                  href="#"><strong>Skip to main content</strong></a></button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-outline-light"><a class="nav-link" href="#"><strong><svg
                      xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                      viewBox="0 0 16 16">
                      <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg></strong></a></button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-outline-light"><a class="nav-link" href="#"><svg
                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                    <path
                      d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z" />
                  </svg></a></button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-outline-light"><a class="nav-link" href="#"><svg
                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-diagram-3-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V6A1.5 1.5 0 0 1 6 4.5v-1zm-6 8A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5v-1zm6 0A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5v-1zm6 0a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1z" />
                  </svg></a></button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-outline-light"><a class="nav-link" href="#">English</a></button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <div class="row">
          <div class="col">
            <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Emblem_of_India.svg/800px-Emblem_of_India.svg.png"
            height="70px" alt="img">
          </div>
            <div class=" col">जल पदचिह्न<br><strong class="fs-3">Water Footprint inc.</strong></div>
        </div> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
          <div class="navbar-nav  ms-auto">
            <img src="https://www.sih.gov.in/img1/SIH2023-logo.png" alt="img"> 
          </div>
        </div>
      </div>
    </nav>
    <nav class="navbar navbar-expand-lg " style="background-color: #e5e2db; height: 40px;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navigation bar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto me-auto">
            <button type="button" class="btn btn-outline-warning"><a
                class="font-monospace fw-bold text-decoration-none link-dark" href="#">Home</a></button>
                <button type="button" class="btn btn-outline-warning"><a
                  class="font-monospace fw-bold text-decoration-none link-dark" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera" viewBox="0 0 16 16">
                    <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z"/>
                    <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                  </svg> Camera</a></button>    
            <button type="button" class="btn btn-outline-warning"><a
                class="font-monospace fw-bold text-decoration-none link-dark" href="#">Our community</a></button>
            <button type="button" class="btn btn-outline-warning"><a
                class="font-monospace fw-bold text-decoration-none link-dark" href="#">About</a></button>
            <button type="button" class="btn btn-outline-warning"><a
                class="font-monospace fw-bold text-decoration-none link-dark" href="#">SignIn/Register</a></button>

          </div>
        </div>
      </div>
    </nav>
  </section>
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="https://cdnbbsr.s3waas.gov.in/s3a70dc40477bc2adceef4d2c90f47eb82/uploads/2023/04/2023042578.jpg"
          class="d-block w-100" alt="img">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://jaljeevanmission.gov.in//themes/edutheme/images/15-aug-2022-banner.jpg" class="d-block w-100"
          alt="img">
      </div>
      <div class="carousel-item">
        <img src="/public/images/bannerimg13.jpg" class="d-block w-100 "alt="img">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container-fluid text-center mx-auto my-3">
    <h1>Your <strong>WATER Footprint</strong></h1>
    <h3>is much larger than you expect.</h3>
    <button type="button" class="btn btn-outline-light "><a href="#"class="font-monospace fw-bold text-decoration-none link-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera" viewBox="0 0 16 16">
      <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z"/>
      <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
    </svg>Camera</a></button>

  </div>
  <div class="container">
    <div class="row my-3 mx-2">
      <div class="  col-md-3 my-3">
        <div class="card">
          <img src="https://cdn.britannica.com/89/140889-050-EC3F00BF/Ripening-heads-rice-Oryza-sativa.jpg" class="card-img-top" alt="Image">
          <div class="card..-img-overlay">
            <!-- <h5 class="card..-title text-dark">Overlay Text</h5> -->
            <p class="card-text   text-dark "><Strong>A Bowl Of Rice uses upto 1400 Litres of water.</Strong></p>
          </div>
        </div>
      </div>
      <div class="  col-md-3 my-3">
        <div class="card">
          <img src="https://images.everydayhealth.com/images/diet-nutrition/all-about-bananas-nutrition-facts-health-benefits-recipes-and-more-rm-722x406.jpg" style="width: 100%;height:100%" class="card-img-top" alt="Image">
          <div class="card..-img-overlay">
            <!-- <h5 class="card-title text-dark">Overlay Text</h5> -->
            <p class="card-text   text-dark "><Strong>A Dozen Banana uses upto 1920 litres of water</Strong></p>
          </div>
        </div>
      </div>
      <div class="  col-md-3 my-3">
        <div class="card">
          <img src="https://media.istockphoto.com/id/1276645382/photo/chocolate-assortment-background-top-view-of-different-kinds-of-chocolate.jpg?s=612x612&w=0&k=20&c=VSi2enumIt0aHCKTu4_yzvAFIm7DFGdNXZii0mj9iYs=" class="card-img-top" alt="Image">
          <div class="card..-img-overlay">
            <!-- <h5 class="card-title text-dark">Overlay Text</h5> -->
            <p class="card-text text-dark   "><Strong>100gm Chocolate uses upto 1700 litres of water</Strong></p>
          </div>
        </div>
      </div>
      <div class="  col-md-3 my-3">
        <div class="card">
          <img src="https://www.bhg.com/thmb/ov2S31znAvSCXqrpgJQ8rwBgzp8=/2250x0/filters:no_upscale():strip_icc()/BHG-milk-bread-4CdeIL1uKGyB5ryU8J_EED-aaa76729c86a413ca7500029edba79f0.jpg" class="card-img-top" alt="Image">
          <div class="card..-img-overlay ">
            <!-- <h5 class="card-title text-dark">Overlay Text</h5> -->
            <p class="card-text text-dark  "><Strong>1 Kg Bread uses upto 1600 litres of water</Strong></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-3 mx-3">
      <div class="  col-md-3 my-3">
        <div class="card">
          <img src="https://www.southernliving.com/thmb/zCKBQZG85v0gxUpn5Nm_8elGJaA=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-1413944242-79c406e0bbe4435596bc671f95a949cb.jpg" class="card-img-top" alt="Image">
          <div class="card..-img-overlay">
            <!-- <h5 class="card-title text-dark">Overlay Text</h5> -->
            <p class="card-text   text-dark "><Strong>1l of milk uses upto 1000litres of water.</Strong></p>
          </div>
        </div>
      </div>
      <div class="  col-md-3 my-3">
        <div class="card">
          <img src="https://cdn.mos.cms.futurecdn.net/iC7HBvohbJqExqvbKcV3pP.jpg" style="width: 100%;height:100%" class="card-img-top" alt="Image">
          <div class="card..-img-overlay">
            <!-- <h5 class="card-title text-dark">Overlay Text</h5> -->
            <p class="card-text   text-dark "><Strong>1kg of potatoes uses 287 litres of water.</Strong></p>
          </div>
        </div>
      </div>
      <div class="  col-md-3 my-3">
        <div class="card">
          <img src="https://www.indianhealthyrecipes.com/wp-content/uploads/2015/10/pizza-recipe-1.jpg" class="card-img-top" alt="Image">
          <div class="card..-img-overlay">
            <!-- <h5 class="card-title text-dark">Overlay Text</h5> -->
            <p class="card-text text-dark    "><Strong>For making a pizza it takes approx 1260l of water</Strong></p>
          </div>
        </div>
      </div>
      <div class="  col-md-3 my-3">
        <div class="card">
          <img src="https://media.gq.com/photos/6245e8a13706ea3f655df4fd/4:3/w_1500,h_1125,c_limit/GQ0422_Drops-16x9web.jpg" class="card-img-top" alt="Image">
          <div class="card..-img-overlay ">
            <!-- <h5 class="card-title text-dark">Overlay Text</h5> -->
            <p class="card-text text-dark   align-baseline"><Strong>A pair of shirt and jeans take approx 10000l of water.</Strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid text-center mx-auto my-3">
    <h1>Educational <strong>Resources</strong></h1>
  </div>
  </div>
  <div class="container">
    <div class="row my-3 mx-2">
      <div class="  col-md-4 my-3">
        <div class="card" style="width: 100%;height: 100%;">
          <img src="https://c1.wallpaperflare.com/preview/961/243/679/people-girl-alone-jungle-standing-outdoors.jpg"style="width:400px;height:300px" class="card-img-top" alt="Image">
          <div class="card..-img-overlay">
            <!-- <h5 class="card-title text-light">Overlay Text</h5> -->
            <p class="card-text   text-dark "><Strong>What is a water footprint and Why it is important? - Waterpedia</Strong></p>
          </div>
        </div>
      </div>
      <div class="  col-md-4 my-3">
        <div class="card" style="width: 100%;height: 100%;">
          <img src="https://cdn.xxl.thumbs.canstockphoto.com/closeup-of-sign-on-window-of-dirty-car-stock-photo_csp4457662.jpg" class="card-img-top" alt="Image">
          <div class="card..-img-overlay">
            <!-- <h5 class="card-title text-light">Overlay Text</h5> -->
            <p class="card-text   text-dark "><Strong>Are we running out of clean water? - Balsher Singh Sidhu</Strong></p>
          </div>
        </div>
      </div>
      <div class=" col-md-4 my-3">
        <div class="card" style="width: 100%;height: 100%;">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Hiking_to_the_Ice_Lakes._San_Juan_National_Forest%2C_Colorado.jpg/1200px-Hiking_to_the_Ice_Lakes._San_Juan_National_Forest%2C_Colorado.jpg" class="card-img-top" alt="Image">
          <div class="card..-img-overlay">
            <!-- <h5 class="card-title text-light">Overlay Text</h5> -->
            <p class="card-text text-dark   "><Strong>Where is Water? 
              - The Water Rooms #2</Strong></p>
          </div>
        </div>
      </div>
    </div>
    </div>
    <section>
      <div class="w-100 custom-container text-center mx-auto my-0">
        <h1 class="text-light">Join the <strong>Water <br> Revolution</strong></h1>
      </div>
      <div class=" custom-container my-0">
        <div class="row">
          <div class="col-md-4">
            <div class="card bg-transparent border-0">
              <div class="card-body" style="background-color:#00000059">
                <h5 class="card-title text-light">Calculate Your Water Footprint</h5>
                <p class="card-text text-light">Begin your journey by understanding your impact. Calculate your water
                  footprint, and unveil the power of your choices. Every drop you save is a promise to the future.</p>
                <a class="text-decoration-none link-light" href="#">visit more</a><svg
                  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fffdfd"
                  class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                </svg>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-transparent border-0">
              <div class="card-body" style="background-color:#00000059">
                <h5 class="card-title text-light">Pledge for Change</h5>
                <p class="card-text text-light">Take a pledge today—to reduce, to conserve, to make a difference. Your
                  pledge is a ripple that joins others, creating waves of transformation.</p>
                <a class="text-decoration-none link-light" href="#">Take a pledge now</a><svg
                  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fffdfd"
                  class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                </svg>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-transparent border-0">
              <div class="card-body" style="background-color:#00000059">
                <h5 class="card-title text-light">Join Our Water Warriors</h5>
                <p class="card-text text-light">Become a part of our global community of Water Warriors. Together, we
                  stand strong, united by the commitment to safeguard our most precious resource.</p>
                <a class="text-decoration-none link-light" href="#">Join us now</a><svg
                  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fffdfd"
                  class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                </svg>
              </div>
            </div>
          </div>
        </div>
    </section>

    <footer class="py-3 w-100 " style="background-color:#e5e2db; width: 100%;">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3 mx-5  ">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        <div class="ms-auto">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
          <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865l8.875 11.633Z"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
          <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"/>
        </svg>
      </div>
      </ul>
      <div class="d-flex justify-content-center ">
        <img src="/public/images/color_logo.png"style="width:150px;height:50px" alt=""class="mx-3">
        <img src="/public/images/miiimg.png"style="width:100px;height:60px" alt="i"class="mx-3">
        <img src="/public/images/digitalimg.png"style="width:150px;height:50px" alt="i"class="mx-3">
      </div>
      
      <p class="text-center text-muted">&copy; 2023 HALAKH, Inc</p>
    </footer>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
</body>

</html>